<footer class="footer mt-auto py-3">
  <div class="container text-center">
    <ul class="list-group list-group-horizontal-md justify-content-center" id="social-icons">
      <li class="list-group-item borderless"><a href="#"><span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x"></i><i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i></a></li>
      <li class="list-group-item borderless"><a href="#"><span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x"></i><i class="fab fa-twitter fa-stack-1x fa-inverse"></i></a></li>
      <li class="list-group-item borderless"><a href="#"><span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x"></i><i class="fab fa-github fa-stack-1x fa-inverse"></i></a></li>
      <li class="list-group-item borderless"><a href="#"><span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x"></i><i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i></a></li>
    </ul>
    <hr>
    <span class="text-muted">Copyright © Ryan Mohrman 2017 - {{ site.time | date: '%Y' }}</span>
  </div>
</footer>