<header>
  <!-- Navigation -->
  {% include navbar.html %}

  {% if layout.masthead %}
  <!-- masthead image and welcome text -->
  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <img alt="" src="/assets/img/ryan-profile.png" class="masthead-profile mb-3">
          <h1 class="text-white font-weight-bold">Howdy, I'm Ryan</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Engineer | Musician | Brewer</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Get to Know Me</a>
        </div>
      </div>
    </div>
  </header>
  {% elsif layout.map %}
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <img alt="" src="/assets/img/ryan-profile.png" class="masthead-profile mb-3">
          <h1 class="text-white font-weight-bold">Howdy, I'm Ryan</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light map-subtitle">
            The map below is used to visualize my roadtrips with my two dogs. Sadly,
            Kira passed away in Summer 2024, but she was a great travel companion for many years.
          </p>
          <p class="text-white-75 font-weight-light map-subtitle mb-5">Latest update: June 8, 2025.</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#map">On to the Map</a>
        </div>
      </div>
    </div>
  </header>
  {% else %}
  <header class="masthead masthead-small">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <img alt="" src="/assets/img/ryan-profile.png" class="masthead-profile mb-3">
          <h1 class="text-white font-weight-bold">Howdy, I'm Ryan</h1>
          <hr class="divider my-4">
        </div>
      </div>
    </div>
  </header>
  {% endif %}
</header>