<header>
  {% include navbar.html %}

  {% if layout.masthead %}
  <!-- masthead image and welcome text -->
  <div class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light text-white">Howdy, I'm Ryan</h1>
          <hr class="divider my-4">
          <p class="lead text-white">Engineer | Musician | Brewer</p>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="dynamic-spacer"></div>
  {% endif %}
</header>