// Import custom variables (overrides Bootstrap default variables)
@import "variables";

// Import Bootstrap
@import "bootstrap/bootstrap";

// Import custom styles
@import "global";
@import "navbar";
@import "masthead";
@import "skills";
@import "portfolio";

// Set additional custom styles
.my-8 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.map-subtitle {
  font-size: 1.5rem !important;
}
