/* --- Navbar --- */

.custom-navbar {
  /* background: #F5F5F5;
  border-bottom: 1px solid #EAEAEA; */
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short-permanent,
  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.profile-container {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  width: 50px;
  /* margin-top: 60px; */
}
.avatar-container .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.profile-container .profile-img {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .profile-container {
    width: 150px;
    margin-top: 120px;
  }
  
  .avatar-container .avatar-img-border {
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }
}

.nav-search-link .nav-search-icon {
  display: none;
}
.nav-search-link .nav-search-text {
  display: inline;
}
@media only screen and (min-width: 768px) {
  .nav-search-link .nav-search-icon {
    display: inline;
  }
  .nav-search-link .nav-search-text {
    display: none;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead {
  height: 65vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main > .container {
  padding: 60px 15px 0;
}